:root {
    /* Brand Colors */
    --olive: #515B3A;
        --olive: rgb(81, 91, 58);

    --orange: #DD6031;
    --brown: #311E10;
    --vanilla: #F2EDCF;
    --black: #1A1410;
    --grey: #a58169;

    /* Semantic Colors - Primary Palette */
    --primary-color: var(--olive);
    --secondary-color: var(--orange);
    --tertiary-color: var(--brown);
    --accent-color: var(--vanilla);
    --background-color: var(--olive);
    --background-color-transparent: rgba(81, 91, 58, 0.3);
    --text-dark: var(--brown);
    --text-medium: var(--grey);
    --text-light: var(--vanilla);


    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(49, 30, 16, 0.1);
    --shadow-md: 0 4px 6px rgba(49, 30, 16, 0.1);

    font-family: "Libertinus Math";
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}