:root {
    /* Brand Colors */
    --olive: #515B3A;
    --olive: rgb(81, 91, 58);

    --orange: #DD6031;
    --brown: #311E10;
    --vanilla: #F2EDCF;
    --black: #1A1410;
    --grey: #a58169;

    /* Semantic Colors - Primary Palette */
    --primary-color: var(--olive);
    --secondary-color: var(--orange);
    --tertiary-color: var(--brown);
    --accent-color: var(--vanilla);
    --background-color: var(--olive);
    --background-color-transparent: rgba(81, 91, 58, 0.3);
    --text-dark: var(--brown);
    --text-medium: var(--grey);
    --text-light: var(--vanilla);


    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(49, 30, 16, 0.1);
    --shadow-md: 0 4px 6px rgba(49, 30, 16, 0.1);

    font-family: "Libertinus Math";

  --spacing-2xs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-smd: 0.625rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 3rem;
  --spacing-5xl: 3rem;

  /* Responsive font sizes */
  --font-2xs: 0.625rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 2rem;
  /* Responsive font weights */
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}